{% extends 'base.html' %}
{% load static %}

{% block title %}
Registration
{% endblock title %}

{% block extra_css %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/registration.css' %}">
{% endblock %}



{% block main %}

<div class="container mt-3 mb-3">
    <div class="d-flex justify-content-center">
        <div class="col-5">
            <div class="card shadow p-4">
                <h4 class="text-center">REGISTRATION</h4>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <b>If you have an account ? <a href="{% url 'user:login_url' %}">
                            Register
                        </a></b>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock main %}

{% block extra_js %}
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/user/user.js' %}"></script>
{% endblock %}