{% extends 'base.html' %}
{% load static %}

{% block title %}
Update Profile
{% endblock title %}

{% block extra_css %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/user/update_profile.css' %}">
{% endblock %}


{% block main %}
<div class="container mt-4">
    <h2>Update Profile</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            <div class="text-danger">{{ form.first_name.errors }}</div>
        </div>

        <div class="mb-3">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
            <div class="text-danger">{{ form.last_name.errors }}</div>
        </div>

        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            <div class="text-danger">{{ form.email.errors }}</div>
        </div>

        {% for field in form %}
            {% if field.name not in "first_name last_name email" %} {# Это условие теперь не нужно, но можно оставить для ясности #}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="text-danger">{{ field.errors }}</div>
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{% url 'user:profile_view' user.id %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}